
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>留言 - YY · 爱编程</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:ghostwhite;border-bottom:0px;" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="~/image/logo.png" style="margin-top:-5px;" />
                </a>
                <a class="navbar-brand" href="/" style="color:black">YY · 爱编程</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span> 主页 </a></li>
                    <li><a asp-controller="Message" asp-action="Index"><span class="glyphicon glyphicon-envelope"></span> 留言</a></li>
                    <li><a href="#live"><span class="glyphicon glyphicon-headphones"></span> 生活</a></li>
                </ul>
                <partial name="../Shared/_Login.cshtml" />
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top:60px">
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="Message" asp-action="AddMessage" data-ajax="true" data-ajax-success="addSuccess" data-ajax-confirm="确认要提交吗？" data-ajax-method="post">
                    <div class="form-group">
                        <label for="message">到此一游，留下你的足迹吧</label>
                        <textarea class="form-control" id="Message" name="Message" style="width:100%;height:150px;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
        <hr />
        <div class="row" id="messageDiv">

        </div>
        <div class="row">
            <button class="col-md-12 btn btn-primary " onclick="getMessagePage()">点我查看更多留言</button>
        </div>
    </div>


    <footer style="bottom:0px;width:100%;height:100px">
        <hr />
        <div class="container text-center">
            <p> © Copyright YY · 爱编程</p>
            <p style="color:#999999;">
                ASP.NET Core（3.1） on Linux
            </p>

        </div>
    </footer>


    <div class="go-to-top">
        <a href="#top"></a>
    </div>


    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script>
        $(function () {
            toastr.options = {
                closeButton: true,                                            // 是否显示关闭按钮，（提示框右上角关闭按钮）
                debug: false,                                                    // 是否使用deBug模式
                progressBar: true,                                            // 是否显示进度条，（设置关闭的超时时间进度条）
                positionClass: "toast-top-center",              // 设置提示款显示的位置
                onclick: null,                                                     // 点击消息框自定义事件 
                showDuration: "300",                                      // 显示动画的时间
                hideDuration: "1000",                                     //  消失的动画时间
                timeOut: "2000",                                             //  自动关闭超时时间 
                extendedTimeOut: "1000",                             //  加长展示时间
                showEasing: "swing",                                     //  显示时的动画缓冲方式
                hideEasing: "linear",                                       //   消失时的动画缓冲方式
                showMethod: "fadeIn",                                   //   显示时的动画方式
                hideMethod: "fadeOut"                                   //   消失时的动画方式
            };
            getMessagePage();
        });

        var page = 0;
        var size = 5;
        var totalPage = 1;
        function getMessagePage() {
            if (totalPage == page) {
                toastr.warning("没有更多留言了");
                return;
            }
            page++;
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMessagePage", "Message")',
                data: { "page": page, "size": size },
                success: function (data) {
                    console.log(data);
                    var item = "";
                    if (data.state == 1) {
                        totalPage = parseInt(data.result.totalCount / size);

                        if (data.result.totalCount % size != 0) {
                            totalPage++;
                        }
                        var lst = data.result.data;
                        for (var i = 0; i < lst.length; i++) {
                            item += "<div class='panel panel-default'><div class='panel-heading'>" + lst[i].userName + "</div><div class='panel-body'>" + lst[i].message + "</div></div>";
                        }
                    }
                    $("#messageDiv").append(item);
                }
            });
        }
        function addSuccess(data) {
            $("#messageDiv").prepend("<div class='panel panel-default'><div class='panel-heading'>" + data.userName + "</div><div class='panel-body'>" + data.message + "</div></div>");
            toastr.success('感谢您的留言');
        }

    </script>
</body>
</html>
