# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
Yan.MicroServices/Yan.Demo2
Yan.MicroServices/Yan.ArticleService.API/appsettings.json
Yan.MicroServices/Yan.ArticleService.API/appsettings.json
Yan.MicroServices/Yan.Idp/appsettings.json
Yan.MicroServices/Yan.SystemService.API/appsettings.json
Yan.MicroServices/Yan.ArticleService.API/appsettings.json
Yan.MicroServices/Yan.BillService.API/appsettings.json
Yan.MicroServices/Yan.Idp/appsettings.json
Yan.MicroServices/Yan.SystemService.API/appsettings.json
Yan.MicroServices/Yan.Idp/appsettings.json
Yan.MicroServices/Yan.BillService.API/appsettings.json
Yan.MicroServices/Yan.ArticleService.API/appsettings.json
