<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YY · 爱编程</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <style>
        .navbar-default li:hover,
        .navbar-default li:focus {
            color: #5e5e5e;
            background-color: beige;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:ghostwhite;border-bottom:0px;" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <img src="~/image/logo.png" style="margin-top:-5px;" />
                </a>
                <a class="navbar-brand" href="/" style="color:black">YY · 爱编程</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span> 主页 </a></li>
                    <li><a asp-controller="Message" asp-action="Index"><span class="glyphicon glyphicon-envelope"></span> 留言</a></li>
                    <li><a asp-controller="Life" asp-action="Index"><span class="glyphicon glyphicon-headphones"></span> 生活</a></li>
                </ul>
                <partial name="_Login.cshtml" />
            </div>
        </div>
    </nav>

    <div class="container" id="top">
        <div class="row" style="margin-top:60px">
            <div class="col-sm-3">
                <partial name="_RightMenu.cshtml" />
            </div>
            <div class="col-sm-9">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer style="bottom:0px;width:100%;height:100px">
        <hr />
        <div class="container text-center">
            <p> © Copyright YY · 爱编程</p>
            <p style="color:#999999;">
                ASP.NET Core（3.1） on Linux
            </p>

        </div>
    </footer>


    <div class="go-to-top">
        <a href="#top"></a>
    </div>


    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script>
        $(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() > 1000)
                    $('div.go-to-top').show();
                else
                    $('div.go-to-top').hide();
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
