@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@using Yan.MvcClient.ViewModel;
@{ 
    var articleCount = ViewBag.ArticleCountByCategory as List<ArticleCountViewModel>;
}
<div class="about">
    <div class="about-header">
        <h3>关于本站</h3>
    </div>
    <div class="about-content">
        &nbsp;&nbsp;&nbsp;&nbsp;YY · 爱编程 专注.NetCore最佳实践。 本站是一个用于知识积累与分享的个人开源博客。主要技术栈为html、css、vue全家桶、axios、.NetCore。
        <hr style="margin-top:5px;margin-bottom:5px;">
        现在在北京工作。
        yanchuanpeng2008@163.com
    </div>
</div>

@await Component.InvokeAsync("DataCount")

<div class="weixin">
    <div class="weixin-header">
        <h3>微信</h3>
    </div>
    <div class="weixin-content">
        <img src="~/image/weixin.png"/>
    </div>
</div>

<div class="flink">
    <div class="flink-header">
        <h3>链接</h3>
    </div>
    <div class="count-content">
        <ul>
            <li><a href="http://82.156.187.171:9999" target="_blank">本站后台</a></li>
            <li><a href="http://82.156.187.171" target="_blank">本站Vue版本</a></li>
            <li><a href="https://www.baidu.com" target="_blank">百度</a></li>
        </ul>
    </div>
</div>

<style>

    .about, .weixin, .count, .flink {
        margin-left: -15px;
    }
    .about-header {
        text-align: center;
        font-size: 10px;
        padding: 10px;
        color: #DEDEDE;
        background: #8197fa;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .about-content {
        color: #1a1a1a;
        /*background: #F0FFFF;*/
        background: ghostwhite;
        padding: 10px;
        line-height: 28px;
        font-size: 14px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .weixin-header, .flink-header {
        text-align: center;
        padding: 10px;
        color: #DEDEDE;
        background: #8197fa;
    }
    .weixin-content, .flink-content {
        color: #1a1a1a;
        /*background: #F0FFFF;*/
        background: ghostwhite;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .weixin-content img {
            width: 150px;
            height: auto;
        }

    .about-header h3,
    .weixin-header h3,
    .count-header h3,
    .flink h3{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .count-header {
        text-align: center;
        padding: 15px;
        color: #DEDEDE;
        background: #8197fa;
    }
    .count-content {
        /*background: #F0FFFF;*/
        background: ghostwhite;
        line-height: 30px;
        font-size: 15px;
    }
        .count-content ul {
            display: block;
            width: 100%;
            margin-bottom: -10px;
        }
            .count-content ul li {
                list-style: none;
                width: 100%;
                padding: 5px 0;
                border-bottom: 1px dotted #d8e5f3;
            }
                .count-content ul li:hover {
                    background-color: lightgray;
                }
                .count-content ul li a {
                    font-size: 15px;
                    text-decoration: none;
                    color: #666;
                    cursor: pointer;
                    padding-left: 35px;
                }
                    .count-content ul li a:hover {
                        color: #000;
                    }


</style>


