
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    @*<p>分部视图中的p元素 @ViewBag.TestInfo</p>*@
    <div class="about">
        <div class="about-header">
            <h2>关于本站</h2>
        </div>
        <div class="about-content">
            &nbsp;&nbsp;&nbsp;&nbsp;我是小严快跑，专注.NetCore最佳实践。 本站是一个用于知识积累与分享的个人开源博客。主要技术栈为html、css、vue全家桶、axios、.NetCore。
            <hr>
            <a asp-controller="Home" asp-action="Test"><span class="glyphicon glyphicon-home"></span> 主页 </a>
            现在在北京工作。<br>
            邮箱：yanchuanpeng2008@163.com
        </div>
    </div>
