@{
    Layout = null;
}

<template id="dashboard">
    <div  style="height: 100%; border: 0px;">
        <h1>dashboard</h1>
    </div>
</template>

<script type="text/javascript">
    //Vue.component("dashboard",
    //    {
    //        template: "#dashboard",
    //        created() {
    //            console.log('dashboard created');
    //        }
    //    });

    var dashboard = {
        name: 'dashboard',
        template: '#dashboard',
        created: function() {
            console.log('dashboard created');
        }
    };
</script>