
@{
    ViewData["Title"] = "账单";
    Layout = "~/Views/Life/_LifeLayout.cshtml";
}

<div class="container" id="top">
    <div class="row" style="margin-top:60px;">
        <div class="panel panel-default">
             <div class="panel-heading">Panel heading</div>
             <table class="table">
                 <tr>
                     <th>账单名称</th>
                     <th>创建人</th>
                     <th>z账单费用</th>
                     <th>创建时间</th>
                     <th>操作</th>
                 </tr>
                 <tr>
                     <td>2020-09-01-账单</td>
                     <td>ycp</td>
                     <td>340</td>
                     <td>2020-09-01 23:00:00</td>
                     <td><button class="btn btn-default btn-xs" >账单项</button> <tb>
                 </tr>
             </table>
        </div>
    </div>
</div>
