@model Yan.MvcClient.ViewModel.LifeIndexViewModel;
@{
    //Layout = null;
    Layout = "./_LifeLayout.cshtml";
}



<div class="container" id="top">
    <div class="row" style="margin-top:60px">
        <div class="col-md-6">
            <div class="jumbotron" style="margin:10px;text-align:center;">
                本年花销：@Model.StatisticsOutput.TheYearCost 元
            </div>

        </div>
        <div class="col-md-6">
            <div class="jumbotron" style="margin:10px;text-align:center;">
                本月花销：@Model.StatisticsOutput.TheMonthCost 元
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6" id="yearPie" style="height:400px;">

        </div>
        <div class="col-md-6" id="monthPie" style="height:400px;">

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">最近支出 <a class="pull-right" style="cursor:pointer" asp-controller="Life" asp-action="Bills">查看账单</a> </div>
            <ul class="list-group">
                @foreach (var lst in Model.NearCosts)
                {
                    <li class="list-group-item">@lst</li>
                }
            </ul>
        </div>
    </div>
</div>


@section script{

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/lib/echarts/echarts.js"></script>

<script>
        $(function () {
            getYearPie();
            $(window).scroll(function () {
                if ($(window).scrollTop() > 1000)
                    $('div.go-to-top').show();
                else
                    $('div.go-to-top').hide();
            });
        });

        var skip = 0;
        var size = 5;
        var yearPie = echarts.init(document.getElementById('yearPie'));
        var monthPie = echarts.init(document.getElementById('monthPie'));
        function getYearPie() {
            //yearPie.showLoading();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetYearPieData", "Life")',
                success: function (data) {
                    yearPie.setOption({
                       title:{
                            text:'本年度花费分布',
                            x:'center',
                            y:'top',
                            textAlign:'left'
                        },
                        series : [
                            {
                                name: '访问来源',
                                type: 'pie',    // 设置图表类型为饼图
                                radius: '55%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
                                data:data
                            }
                        ]
                    })
                }
            });
            //monthPie.showLoading();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMonthPieData", "Life")',
                success: function (data) {
                    monthPie.setOption({
                        title:{
                            text:'本月花费分布',
                            x:'center',
                            y:'top',
                            textAlign:'left'
                        },
                        series : [
                            {
                                name: '访问来源',
                                type: 'pie',    // 设置图表类型为饼图
                                radius: '55%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
                                data:data
                            }
                        ]
                    })
                }
            });
        }


</script>
}
