@{
    Layout = null;
}

<template id="createRole">
    <div>
        <h1>create hh</h1>
    </div>
</template>
<script type="text/javascript">
    Vue.component("create-role",
        {
            template: "#createRole",
            created() {
                console.log('createRole created');
            }
        });
</script>