* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑","黑体","Consolas";
}

.go-to-top{
    display:none;
    position:fixed;
    right:3em;
    bottom:5em;

}

.go-to-top a{
    display:inline-block;
    width:50px;
    height:50px;
    background:url(../image/backTop.png) 0 0 no-repeat;
}

    .go-to-top a:hover{
        background-position:-50px 0;
    }

.create-bill-logo {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 3em;
    top:5em;
    background: url(../image/billlog.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.create-bill-logo {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 5em;
    top: 15em;
    background: url(../image/billlog.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

@media screen and (max-width: 800px) {
    .create-bill-logo {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 3em;
        top: 10em;
        background: url(../image/billlog.png) 0 0 no-repeat;
        background-size: 100% 100%;
    }
}